<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711692741302-l1m85dl1m3hhekcq47ngcrmgt6fc4bpi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711692741302-l1m85dl1m3hhekcq47ngcrmgt6fc4bpi</string>
	<key>API_KEY</key>
	<string>AIzaSyDNsKl-KJxRCbHzFT35hpLptpPEsF149eE</string>
	<key>GCM_SENDER_ID</key>
	<string>711692741302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>za.co.kardiak.mynews</string>
	<key>PROJECT_ID</key>
	<string>mynews-d8489</string>
	<key>STORAGE_BUCKET</key>
	<string>mynews-d8489.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711692741302:ios:8ade59e648b5c16ade5417</string>
</dict>
</plist>